@font-face {
    font-family: "CustomFont";
    src: url("../assets/ByteBounce.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "CustomFont", sans-serif;
    font-size: 32px;
    background-color: #000;
    color: #fff;
}
