@font-face {
    font-family: "CustomFont";
    src: url("../assets/ByteBounce.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "CustomFont", sans-serif;
    font-size: 32px;
    background-color: #000;
    color: #fff;
}

#game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px; /* Adjust the width to your desired value */
    height: 600px; /* Adjust the height to your desired value */
}
